*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body,html{
	height: 100%;
}
#d1{
	padding-top: 20px;
	text-align: center;
	color: grey;
	padding-bottom: 20px;
	
}

#bg{

	/*background: no-repeat center url("AgMhMQQSE0EUIlFhcYGRobHwBTJi/9oADAMBAAIRAxEAPwDw6EIQCOKOAQhCA44o4AJISIkhABC8awvAQkojAGAxGIjGsAkhFAShkRwJiEAkhFAQGYCKOA4QgZQxC0QjgO0d5GOBK0IoGA7QjjECEJIwga2EITIIQhAZhCEBxxQgSjtIiSgAMbRRwAQijgOEUcBiOKEBxxRygjihAcIQgOBhCARwhKHCKOAxHIiOBKAMUcAMIEQga6EITII4oxAIQhAcIRwASUiI4DEBFHAIxFCA4xIxwJCEUcBxiRhKHHFHAcIoQGICKMGA4QhAcIAQlDvGJGSAgOF4QvAlCRhCtfCEJlBHFGIBCEIDjihAkIRCMwCEUcAhFHAJISMcBxyMcBwhFAleMGRjgSiMAYryhxxQgShI3hAsUxGJYyYBJLIgx3gTEiYZpEmUTvCQjgYUIQmQSylRLbrAczoJXMmnTJC2BO82txvb8IEkwFRvkGfotyfbj6SPwdT/AC2HmLffNj2bxiCuve6AhgGGniKkJffxtrw+o6Dtbi69WlTFdlIptlAsFYEXF2PUb9YWIcWKDfyRIuhU2IsROkWnToqlRqVJgS4Och75bfKqseJFjfXXlNJtTFrVqZkQIoAVVFtALn95kgmGKIExCBlQ4RQvAcIo4DhFCAwYRCOAxHeREleARxQgEYMUJRKF4rx3gEYkY7wJKYHfEsIEoXiMV4EwZGIGF4ExHIXjgYkIoSBzebK2ky0QvCm+c2AzZGIuRzsf+U0ctw1cowdbXHA6gg6EEcQRcQMramGyVM4Iam7Eqy7rE3tbgek2+09pU2TIUQuD4nYVCx0tYagAeplWzaQZWam4KGx7om7qR4iNdCBbRvu1mBiEDMxC5QdwuWt6mSWqZu3SopIoVxYA2YWUE7ynE303zQz2HtTs8YzZOHroozU6YDEAZhzvzsQZ5DXpFWKmWYqUlCW0KD1GC00Z2O5VBY+wlN56T/R52pwuGod1UQ03JJNVVvnudMxGotJJEW5ZOxe0CL/COB+sVT6MRKqvZXGL81D/AOlM/c09kfbWGqj8nXQnqbH6zRY7Z1WpcooP/ug+8xbXbDyjE7OrU9alJ1HMg29xpMaer4fshiScz1adJeecO1uipcH1M887U0qaYyslIWRXsPQC5tw1vpEMzFNXHI3jvKhxzvewexqJQ1aqBmvpcXyjoDum27SYinTHgAGhme52jSuLmXlqrc2Gt5tsLsfTPVYgcAu8+pnWdjsDTxT1Gq0VsosGAym536jjMTb2yqqVmRFZlFspGvhtcC387pJyWNPzaanRwyGzUi/m7futLH2XhqjXRnpDiDaoAefA238TJbO2WXqWdgigXd23IB04nkJvT2fepZqFBqNAb6+KYq9TnkpDeTwCg9TOc6lS3GF+Tma+wQPClcOx+UZMoY8r5tCeE0s9H2N2fcFahFyCDrrYA8BOUxOwqne1DUIRc7m5IJy5jrpoB52nTHL2ueenxUNGJfQwruLqhI+1uX/UdPrM9moIbUqWa36dTxX6hPlHqDE2aofGxPmTp5DhLOSRpsM4KpYkKGtvyMjkeYQkiY02NXCWINMnf6jkQZZtzC5RSqH5nDB+rIR4j1IZb9QTxiMrTLCmrBjEjePNNuZkwkc0LwJXiivC8CdoSOaKBdlHKMAch7QLQzTLSWQch7S+jgWazZPDe2a1h115xbOprUrUqbGyvURGPJWcKT7GezYjZ2HoK+FTDpkNncMTwvax3iwXfw+s+b1/8h6NOOMRcz+Hp6fp/Fub4ec0cKO5dVVKbZ7KTmJygfObXOpbTT9Ek7rTEq7Prli9R6akEXBIU6c1A3nqLzp+0vYtFYP8QEvqAELDiTYs/wCE0GF2XRDf3lmHH8ibg8Tfd+/75w6fqcM47scuf8zLpqaUxNTH3ei9lK47rE4apUTKSSpzBgVcage49jPKu0GGVajZSDY2PEG2lx6Wm0r4KnvRnuNxtb7ov7LYqpepkbLxZrr/AMtZ9SNXv+PweecKcvfmogtUAzY7Uwvdg0yfEDYjiD1mmNIzWGXdDnlFS32z8Uo3mdXs3aqrxnm6hhzlq1iN5PuBNpb07F9pkRCb+Q/dPPa9YO7OwF2YsdOJN5hipc6t7mWUzc2DL5kgAeZlmVtkeH7I9pa2HsLlQPMC82eAwCKA5YOeB/R9IseoJ3aTEy6Rhtu2PY/GKrGmzaOLW3a85jdo1YVSjk6fUcDMPZwy1ARz9J0HaBqeIWnk+cADQX03W6nlMZZRG8ukbxTM2PWGHwlIA/ODUYjjdtF+kp+HrYqs1RDlRVGdmOVEUXJd3OijXzj+BpYREGPqMGt+SwisO/e+4vfSip5nXkJp9t4rEYle7qjuKKm9PD0tKY5M1/zjfrH0tecu7LPjaPa1O0Nhie0GHwg/6QCvW1viai3VTzoU23/tt7WN5V2R2w9bEs+IdqhawuxudT14TjMbQdNfmH88J1PYTD+A1z8obW/K28ddJ0x04xjZiM5nKnplJQqodNRu8x/GeRjbauWNdQ4zHwWAUa8hvPUz0vF4vLTGvyqPoNfunlmy9jU3ph6jst+I6zTWV3FNzgXwNWyvQy30BVmG/wAjb6TZ4jsUrgHD4m36rrfToy219Jo/7NVVGegwrINTl+dRvuV4jqPadL2axrZfb1kWN+YV4Psh3JBqEub79w9PeYfbDB00FFVAP51jx392B/xM7elWdgCBcan6/hacN2vxQqYkgfoKqW8vEfqx9pcUzqnP9wv2R7CHw6/ZHsJYojJM24qjQX7I9hImiv2R7S28VpUVdyv2R7CJ6C8FHtLssCJFUDDjkPaEuB6QhKaGRLSzLIlJWEUYg3BsRqCNCDzBnpOx+2a16K0sTV7vEILJVYstOqNdHIuEbX5ittNbjSebWMMxE8nVdJh1ERGXMcS66WrOnOz0+ht9UQU8ZTKqrXp1QO8QfsPTBH148N0121q+FrnMmPdWOurrl/0sROSXalgMhqUjxCM2Q+hv7bpL+sahH94v+0iE+51nhx6Dsy7sdp+30qfy9E9RcVO/78mbTq06NUVO/wC+ddV1zAtuFlF/PfMjH9ssa6lBV7lCLNlGRmHK/wAwHkZpKmIc76zHy8M9K/o47IUxTXGV0DVGAakG1CLfRiDvY7+k+lpYZRG8/v2eeconhzfZ/sPjMYwcqKNM2s9W6lhuutMDMfUAdZ6BgP6I8KgviK1Ws3EC1FPYXb/dOswRRD3laoqKDqzEAeQ5mZFftzs8AlKhqEDciEk62sAfSd57cGPWycrj+yGCoUyUwlLwi/iHeMVBFzepmPEa9ZocSiowXxZmBOSmFUKo4s3DeNACfKxtue0XbzD1GQojBcrgVB4r5gB8o321NuYBmhG0KdaoHFZs/dnNTWmA9Q07m66ka3Y5Qbnhfhyz1YsquVFZK1s47wJe1/Fl8rzExCXWzDN+0ob7xOr+P73DJ8I1NzmClCLBiVJsVO4gKSL8pzuA20gqd3VpZhfK1hx3bgJ5suojGOJ+T16eh38TDSCgnyikg/ZQKfdLGYWMwYve5B9x7aH6zo9t4alTqLlJOY50pqdbAE2bl/CXY/CjE0WxWVu8fKUQFWuMupNtSb+XGdfEjb3sTpzFw5fAUHZ1pp4ixCixtck8b7hN3its08IO7wBFStYh8YR4V4FcKp4f9w7+A3Gc7lZiQoN1DE8LBRc35bjMGriiqk2uARccr8R91vKa8KJyuXPvqFuP2eal6pdi51YuSxY8SSdSZi4faVWkcrHMvI6j+ElV2jmFgfSYdWtffOrMzHk2tTF023X8tPv/AITptjbVpCkaeUKpGUj13+k4BHtMtMQbeG8lLGb0Ta9QNhqmWp+iV62bwm3oZzNWuAAABYfhNf8A1g5Qg3/kiVU6hO+Sm5ytutj7Xai9wSPIzr8JiaOIBZGVKvPcrnX5wNx6j2nmwOsvwuJZGBBkoxzp6Dgq9anVFFxlLGwzagjddW3MPKcRiahNRi/zFmLedzf6zodmdrLeCqAy3Bs2uo4jkeol20dh08U718LVAZzmNJ7AEnfkfhc8Dz3zWM0ufrRs5W8CZfjMBUotkrIyNwzCwPkdzDqLyi025Uaa6Djw3n2lwwtQaGm9zu8LD6Wl3ZzaQWtYm12Fv4z1ikMy3I0I0I1+kx3OmOFw8erUGT50Zb7sylb+8rbznoPbvFOMMqIpyFgKja6W1VSOp49LcZ59aahjKKmkCOsJLLCVGkQ9I9JC8mLQ5mbcowsjeM1JFLKJLIJWXkS0UWtJAE9X7M9plOCRgfkRUYcQygC3rpbznj1VpZs/H1KL5qbW5jeDbmOMvkRO71HGbVNazmq+miojWUX4E/aImIwN+8cMqU2uO7JJvv8AEWuLbtR9JzGF22jaEKgJuwy6E24ONR5W9Zv6qMuHD0TRelc3Ctcrm4Fb6jW1p48++93qxnGtmPU2tRsVdGXPcqaaIzWB1uHYC3G97zCStSZs2HNQ1UZclwAWYtbIEGbU3sNfeXbRwVNsL32Tu3FUJmC6M1iQptuW1/UDrNnsTE0Wpph1p929Ns7ZRdsRUsQ12te9s2VRoLcTrJtVueeE5S32CrjDNUSqtq1YeAqBfOtyhrVKYyli+82JA3jUzmtpUWoV6dWnSyNmvmpE5S5NipDFhe5OtgJuNt4l0rUQtHNQDqFJAuturWK30FtBvEztk4umz1UNALWAOZqpK595utiQyjXceM57zw744REbjBph2UpXp3qMxck6Z2GoFOop04ALod+m+YGzNpmmaxegUJszWW12sRYrc5he3itz04TCweNrUqz1KljRAJuLaWvlBBO8nW2p3Ta1cM1VRVW6FrXL3RMo10DWudeHKc9PCcf7b/h3zz7qjGOPq0PaShTyNWQDO2rmmwy2ZrWtpvud44TjsSbUzf8ASsAOgNyfoBOz23hkpa1avetYeFbrT00DMd7HQaaDTjOFx2JNRyxPQcPYcBPdo+54tfGuWK6kbt0rmZTFwRE1Geh5mJeSSoRLGpSspIbsuhib6E7/AMZl0jrNPNlQfcef3zMw3jLPRPFLFwxlaEg3tMtMYo+Yesy6wxa9G1pbhsbUpm6mZ5pU6qjIReayvhypsbg8pSYp12y+12YCjXUVEOhVwGHTQzP/AKo2fiNVz0TxVW09mvYeU84Yka3IIOk2uH2gwOa9jv0kpYyvl3uD7EYRXzK7kjUXYEfdN7icSwIRV0G/na19PacRsvtBu1NxeZ+J2yQQQ2u8H8feR0imR2wrWwhW+bM6rfdpfNr18M4E+U6jtLjRUw9Mj9NySPs5Ba3+/f5TmRN48OWpyhCW5TFLbNOdzSUiBLadP7TZepDa+QAMrkhaKZGJwjIA2jK25lN1J4i/A9DrKIuxAyMvWkWyqo8TXt5c/LQ+0prWzHLu4dbaX9d8lipzKyJJxEGmmQrS6nVINwSD0NjKsoO4+hiII3yTDUZU22G2zXQZVqsBcNbQjMNx14zYf2oxBfvGNMvaxbuwCRwJy2ueu+cyGku8mJ04nydY1ZdXS7W4gX+TUkm4Y3J53bWWHtJiKjXZxfW3hBtfleckKstTFWmJ0objVdzhds1R/i5b6nKFS55krqYYjbajxMxdupv9TOI+MPL3ltLD1qu5WYdBp6k6TPgXy6elVG0L9q7VasxJOl5rkQkgAEk7gNSZsBgqafnqyj9Sl+Uf3HgHq0n8UACtGn3anQknNUcfrPpYdFAHO89EYxjFPLllOU3KkUsvhO/jbW3S8lkk6SdJMiW0pjtTlbUukzgkkKclrTUPRipVSuh3TbNSlNTCAyWdrP2VjKbWViAZu32WjL0O6ca2zuRmThu+UWWq4HK/4yU3GXlMMrG7NqUmzIbCYz7ZJsKguRxEjXp1G+dy3mf3Sr4EQkzPksqY2meMpbFjcCT6SY2fJ/1aenpGx6yqljSDpeZC4+ox/nSRTB2mZQpZeH0hYtdSqsVAZr216XPT0EkZG3SMiVEb9YR3jga4f9O2VrZ9LkWcoOOW+mfeL62tH3SVWOV6jtv+VnYDiSOXtMyvs/whcQUQD825IWqQdSwprq6E3IuBv0Me0cQaNFcJSsEZVqVKim/xBbjm392LFQvQ3nPlyYIKABRWzAjxhUbmSLK1t3PzioYmgn+Aa3/kbKPMKmv+6YjKDLACdZulpmNjKTqVA+Hvo2VTUzDkXJzBf1d0xMRgwoutVHH6psfYxZIGmIiK4KYjpKik2HdyJozRTX2jWoRxmW2HlfwxltKVd7zUH0/CPvF+x9TJ/DmHcHlFlIiqv+WPUmSGI5U09ifvMmuFPKWLhNYspWuLfhYeSr+EGd3+Z2PQkke0yBhhLVo9LSW12salSmVTpfzzlyUxylthyktaVokmVlqxNFrSAWWKsjaWZDyhUckCBGepigLIJICSURMlpBEpDuveNLco1Jv0lCVJIC3GTyi28yJp85LhakB42PSRySI0H7/4QbnmjLSu0YOkqGWijDiEDTVWd2ao5uzak85b3rMqoxuEBC6bgxLEX46k+8cIYiELSStCEKZkgmkISSsGVk8ukIQtIWjAhCVk7RhYQhU05WEdukUIRYicPSWBIQhYTNO0gyiEJIWQBADlCEqLAJEtCEii8kqiEIISiOsIShC0bQhAgDGGhCEiSLG8LwhCoXkxFCVBpCEJGqf/2Q==" );*/
	background: no-repeat center url("https://images.unsplash.com/photo-1458253756247-1e4ed949191b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
	height: 100%;
	background-size: cover;
	}


#menu1{
    border: 1px solid black;
    border-top: 0px;
    
    height: 35px;
    width: 33.3%;
    float: right;  
}
h3
{
	color:gray;
	border: 1px solid white;
	box-sizing: border-box;
	margin-top: 0px;
	text-align: right;

}
#p1,#p2,#p3{
text-align: left;
color: red;
padding-top: 40px;
}


#box{
padding: 10px;
border:5px solid gray;
width:80%;
height: 13em;
overflow: hidden;
padding-top: 0px;
padding-right: 10px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

/*for large devices*/
@media (min-width: 992px) {
  .col-lg-4{
  	float: left;
  	width: 33.33%;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-6{
 	float: left;
 	width: 50%;
 }
 .col-md-12{
 	float: left;
 	margin-left: -10px;
 	width: 100%;

 }

 }

 /*for small devices*/
 @media (max-width: 767px){
 	.col-sm-12{
 		float: left;
 		width: 100%;
 	}
 }